.input {
  /* padding-left: 90px; */
  /* margin-left: 20px; */
  padding: 25px;
  width: 78%;
  background-color: #fbfffe;
  border: none;
  border-bottom: 1px solid lightgray;
}

.wrapper {
  border-radius: 15px;
  /* background-color: grey; */
  width: 20%;
  height: 120px;
  margin-right: 28px;
  /* padding: 5px; */
  padding-left: 5px;
  padding-right: 5px;
}

.wrapperBox {
  border-radius: 15px;
  width: 20%;
  height: 115px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #94a3b7;
  text-align: center;
  border: dashed 1px #cad2db;
}

.head {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 30px;
  padding: 5px;
}

/* .UpperWrap{
  display: flex;
  flex-direction: column;
} */
.span {
  text-decoration: underline;
  text-decoration-color: #afb0b1;
  text-underline-position: under;
}

.cardtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 5px;
}

.subtext {
  border-radius: 6px;
  background-color: #fffdfa;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 12px;
  /* background-color: yellow; */
}

.text {
  font-size: 12px;
  text-align: center;
  /* background-color: green; */
}

.bottomtext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
